@tailwind base;
@tailwind components;
@tailwind utilities;

/* Estilos globales */
:root {
  color-scheme: light dark;
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;
}

/* MODO CLARO */
@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
}

/* MODO OSCURO */
@media (prefers-color-scheme: dark) {
  :root {
    color: #ffffff;
    background-color: #1a1a1a;
  }
}
